.not-found-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    min-height: 80vh;
    background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}

.not-found-container h1 {
    font-size: 150px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(../../images/bg.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.back-btn {
    margin-top: 20px;
    border: none;
    width: 200px;
    border-radius: 25px;
    padding: 15px;
    text-transform: uppercase;
    background: #e55039aa;
    font-size: 18px;
    color: white;
    transition: 0.4s;
}

.back-btn:hover {
    background: #e55039;
}