.reviewItem-area {
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.reviewItem-area img {
    height: 150px;
    padding: 20px 5px;
}

.reviewItem-area p {
    margin: 5px;
}

.reviewItem-area .ratings {
    font-weight: bold;
}