.home-area {
    width: 80%;
    margin: 0 auto;
}

/* ------ reviews area -------------- */

.reviews-section {
    /* height: 30vh; */
    margin-top: 70px;
}

.reviews-area {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.see-all-btn {
    border: none;
    width: 300px;
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: #e55039aa;
}

.see-all-btn:hover {
    background-color: #e55039;
}